.layout-tabs.ant-tabs-card > .ant-tabs-nav {
  margin: 0;
  padding-left: 0;
}

.layout-tabs.ant-tabs-card > .ant-tabs-nav::before {
  border-radius: 12px 0 0 0;
}

.layout-tabs.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
  margin: 0;
  border-radius: 0;
}

.layout-tabs.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab:first-of-type {
  border-top-left-radius: 12px;
}

.layout-tabs.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab {
  border-left-width: 0;
}

.layout-tabs.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab .ant-tabs-tab-btn {
  border-radius: 0;
}

.layout-tabs.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab:first-of-type .ant-tabs-tab-btn {
  border-top-left-radius: 12px;
}
